@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");



:root {
  --primary-color: #dc030a;
  --primary-color-dark: rgb(135, 6, 12);
  --text-dark: #0a0a0a;
  --text-light: #737373;
  --extra-light: #e5e5e5;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Oswald", sans-serif;
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

input {
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}


body {
  font-family: "Poppins", sans-serif;
}

/* Ensure all pagination bullets are red */
.swiper-pagination-bullet {
  background-color: var(--primary-color) !important;
  opacity: 0.5 !important; /* Dim inactive dots */
}

/* Make active dot fully visible */
.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
  opacity: 1 !important;
}
