@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #dc030a;
  --primary-color-dark: rgb(135, 6, 12);
  --text-dark: #0a0a0a;
  --text-light: #737373;
  --extra-light: #e5e5e5;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Oswald", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  color: var(--text-light);
}

.about__header {
  text-align: center;
  display: grid;
  gap: 1rem;
}

.about__header .section__header {
  font-size: 3rem;
}

.about__header .section__description {
  max-width: 350px;
  margin-inline: auto;
}

.about__grid {
  margin-top: 4rem;
  display: grid;
  gap: 4rem;
}

.about__card h4 {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-top: 4rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.about__card h4::before {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 6rem;
  line-height: 6rem;
  color: var(--text-dark);
  opacity: 0.1;
  z-index: -1;
}

.about__card:nth-child(1) h4::before {
  content: "01";
}

.about__card:nth-child(2) h4::before {
  content: "02";
}

.about__card:nth-child(3) h4::before {
  content: "03";
}

.about__card p {
  color: var(--text-light);
}

@media (width > 540px) {
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width>768px) {
    .about__header {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
      }
    
      .about__header .section__header {
        text-align: right;
      }
    
      .about__header .section__description {
        text-align: left;
        margin-inline-start: unset;
      }
    
      .about__grid {
        grid-template-columns: repeat(3, 1fr);
      }
}