@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #ea0a0a;
  --primary-color-dark: rgb(135, 6, 12);
  --text-dark: #0a0a0a;
  --text-light: #737373;
  --extra-light: #e5e5e5;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Oswald", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.swiper {
  margin-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
}

.client__card {
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
}

.client__card img {
  max-width: 100px;
  margin-inline: auto;
  margin-bottom: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 100%;
}

.client__card > div {
  font-size: 2rem;
  line-height: 2rem;
  color: var(--text-light);
  opacity: 0.5;
}

.client__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.client__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.swiper {
  padding-bottom: 50px !important; /* Adjust this value if needed */
}

/* Ensure all pagination bullets are red */
.swiper-pagination-bullet {
  background-color: var(--primary-color) !important;
  opacity: 0.5 !important; /* Dim inactive dots */
}

/* Make active dot fully visible */
.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
  opacity: 1 !important;
}



