@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #dc030a;
  --primary-color-dark: rgb(135, 6, 12);
  --text-dark: #0a0a0a;
  --text-light: #737373;
  --extra-light: #e5e5e5;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Oswald", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  color: var(--white);
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
}

.btn__secondary {
  background-color: transparent;
  border: 1px solid var(--white);
}
.btn__secondary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

img {
  display: flex;
  width: 100%;
}

.session {
  display: grid;
}

.session__card {
  padding: 5rem 2rem;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.session__card:nth-child(1) {
  background-color: #1d1c1c;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/session-4.jpg");
}

.session__card:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/session-2.jpg");
}

.session__card:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/session-3.jpg");
}

.session__card:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/session-4.jpg");
}

.session__card h4 {
  position: relative;
  isolation: isolate;
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--white);
}

.session__card h4::before {
  position: absolute;
  content: "";
  top: 0;
  left: -5px;
  height: 25px;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  z-index: -1;
}

.session__card p {
  max-width: 350px;
  margin-inline: auto;
  margin-bottom: 2rem;
  color: var(--extra-light);
}

@media (width > 540px) {
  .session__card {
    padding: 7rem 2rem;
  }
}

@media (width > 768px) {
  .session {
    grid-template-columns: repeat(2, 1fr);
  }

  .session__card {
    padding: 10rem 2rem;
  }
}
